<div style="border: 2px solid #8A9AD0; margin: 1em 0.2em; padding: 0.5em;">

# dplyr &amp; tidyverse for data processing

by [Helena Rasche](https://training.galaxyproject.org/hall-of-fame/hexylena/), [Erasmus+ Programme](https://training.galaxyproject.org/hall-of-fame/erasmusplus/), [Avans Hogeschool](https://training.galaxyproject.org/hall-of-fame/avans-atgm/)

**Objectives**

- How can I load tabular data into R?
- How can I slice and dice the data to ask questions?

**Objectives**

- Read data with the built-in <code>read.csv</code>
- Read data with dplyr's <code>read_csv</code>
- Use dplyr and tidyverse functions to cleanup data.

**Time Estimation: 1H**
</div>
<p>dplyr is a powerful R-package to transform and summarize tabular data with rows and columns. For further exploration please see the dplyr package vignette: <a href="https://cran.r-project.org/web/packages/dplyr/vignettes/dplyr.html">Introduction to dplyr</a></p>
<blockquote class="comment" style="border: 2px solid #ffecc1; margin: 1em 0.2em">
<h3 id="-icon-comment--comment">üí¨ Comment</h3>
<p>This tutorial is <strong>significantly</strong> based on <a href="https://github.com/genomicsclass/labs/blob/master/intro/dplyr_tutorial.Rmd">GenomicsClass/labs</a>.</p>
</blockquote>
<blockquote class="agenda" style="border: 2px solid #86D486; display: none; margin: 1em 0.2em">
<h3 id="agenda">Agenda</h3>
<p>In this tutorial, we will cover:</p>
<ol id="markdown-toc">
<li><a href="#why-is-it-useful" id="markdown-toc-why-is-it-useful">Why Is It Useful?</a></li>
<li><a href="#how-does-it-compare-to-using-base-functions-r" id="markdown-toc-how-does-it-compare-to-using-base-functions-r">How Does It Compare To Using Base Functions R?</a></li>
<li><a href="#how-do-i-get-dplyr" id="markdown-toc-how-do-i-get-dplyr">How Do I Get dplyr?</a></li>
</ol>
</blockquote>
<h2 id="why-is-it-useful">Why Is It Useful?</h2>
<p>The package contains a set of functions (or ‚Äúverbs‚Äù) that perform common data manipulation operations such as filtering for rows, selecting specific columns, re-ordering rows, adding new columns and summarizing data.</p>
<p>In addition, dplyr contains a useful function to perform another common task which is the ‚Äúsplit-apply-combine‚Äù concept.  We will discuss that in a little bit.</p>
<h2 id="how-does-it-compare-to-using-base-functions-r">How Does It Compare To Using Base Functions R?</h2>
<p>If you are familiar with R, you are probably familiar with base R functions such as split(), subset(), apply(), sapply(), lapply(), tapply() and aggregate(). Compared to base functions in R, the functions in dplyr are easier to work with, are more consistent in the syntax and are targeted for data analysis around tibbles, instead of just vectors.</p>
<h2 id="how-do-i-get-dplyr">How Do I Get dplyr?</h2>
<p>To install and load the required packages:</p>

In [ ]:
install.packages(c("dplyr", "readr"))
library(dplyr) # This provides data processing functions
library(readr) # This provides the `read_csv` function

<h1 id="data-mammals-sleep">Data: Mammals Sleep</h1>
<p>The msleep (mammals sleep) data set contains the sleep times and weights for a set of mammals. This data set contains 83 rows and 11 variables.</p>

In [ ]:
url <- "https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/msleep_ggplot2.csv"
msleep <- read_csv(url)
head(msleep)

<p>The columns (in order) correspond to the following:</p>
<table>
<thead>
<tr>
<th>column name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>common name</td>
</tr>
<tr>
<td>genus</td>
<td>taxonomic rank</td>
</tr>
<tr>
<td>vore</td>
<td>carnivore, omnivore or herbivore?</td>
</tr>
<tr>
<td>order</td>
<td>taxonomic rank</td>
</tr>
<tr>
<td>conservation</td>
<td>the conservation status of the mammal</td>
</tr>
<tr>
<td>sleep_total</td>
<td>total amount of sleep, in hours</td>
</tr>
<tr>
<td>sleep_rem</td>
<td>rem sleep, in hours</td>
</tr>
<tr>
<td>sleep_cycle</td>
<td>length of sleep cycle, in hours</td>
</tr>
<tr>
<td>awake</td>
<td>amount of time spent awake, in hours</td>
</tr>
<tr>
<td>brainwt</td>
<td>brain weight in kilograms</td>
</tr>
<tr>
<td>bodywt</td>
<td>body weight in kilograms</td>
</tr>
</tbody>
</table>
<p>Compare the above output with the more traditional <code>read.csv</code> that is built into R</p>

In [ ]:
dfmsleep <- read.csv(url)
head(dfmsleep)

<p>This is a ‚Äúdata frame‚Äù and was the basis of data processing for years in R, and is still quite commonly used! But notice how <code>dplyr</code> has a much prettier and more consice output. This is what is called a <code>tibble</code> (like a table). We can immediately see metadata about the table, the separator that was guessed for us, what datatypes each column was (dbl or chr), how many rows and columns we have, etc. The <code>tibble</code> works basically exactly like a data frame except it has a lot of features to integrate nicely with the <code>dplyr</code> package.</p>
<p><em>That said</em>, all of the functions below you will learn about work equally well with data frames and tibbles, but tibbles will save you from filling your screen with hundreds of rows by automatically truncating large tables unless you specifically request otherwise.</p>
<h1 id="important-dplyr-verbs-to-remember">Important dplyr Verbs To Remember</h1>
<table>
<thead>
<tr>
<th>dplyr verbs</th>
<th>Description</th>
<th>SQL Equivalent Operation</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>select()</code></td>
<td>select columns</td>
<td><code>SELECT</code></td>
</tr>
<tr>
<td><code>filter()</code></td>
<td>filter rows</td>
<td><code>WHERE</code></td>
</tr>
<tr>
<td><code>arrange()</code></td>
<td>re-order or arrange rows</td>
<td><code>ORDER BY</code></td>
</tr>
<tr>
<td><code>mutate()</code></td>
<td>create new columns</td>
<td><code>SELECT x, x*2 ...</code></td>
</tr>
<tr>
<td><code>summarise()</code></td>
<td>summarise values</td>
<td>n/a</td>
</tr>
<tr>
<td><code>group_by()</code></td>
<td>allows for group operations in the ‚Äúsplit-apply-combine‚Äù concept</td>
<td><code>GROUP BY</code></td>
</tr>
</tbody>
</table>
<h1 id="dplyr-verbs-in-action">dplyr Verbs In Action</h1>
<p>The two most basic functions are <code>select()</code> and <code>filter()</code>, which selects columns and filters rows respectively.</p>
<h2 id="pipe-operator-">Pipe Operator: %&gt;%</h2>
<p>Before we go any further, let‚Äôs introduce the pipe operator: %&gt;%. dplyr imports this operator from another package (magrittr).This operator allows you to pipe the output from one function to the input of another function. Instead of nesting functions (reading from the inside to the outside), the idea of piping is to read the functions from left to right. This is a lot more like how you would write a <code>bash</code> data processing pipeline and can be a lot more readable and intuitive than the nested version.</p>
<p>Here‚Äôs is the more old fashioned way of writing the equivalent code:</p>

In [ ]:
head(select(msleep, name, sleep_total))

<p>Now in this case, we will pipe the msleep tibble to the function that will select two columns (name and sleep_total) and then pipe the new tibble to the function <code>head()</code>, which will return the head of the new tibble.</p>

In [ ]:
msleep %>% select(name, sleep_total) %>% head(2)

<h2 id="selecting-columns-using-select">Selecting Columns Using <code>select()</code></h2>
<p>Select a set of columns: the name and the sleep_total columns.</p>

In [ ]:
msleep %>% select(name, sleep_total)

<p>To select all the columns <em>except</em> a specific column, use the ‚Äú-‚Äú (subtraction) operator (also known as negative indexing):</p>

In [ ]:
msleep %>% select(-name)

<p>To select a range of columns by name, use the ‚Äú:‚Äù (colon) operator:</p>

In [ ]:
msleep %>% select(name:order)

<p>To select all columns that start with the character string ‚Äúsl‚Äù, use the function <code>starts_with()</code>:</p>

In [ ]:
msleep %>% select(starts_with("sl"))

<p>Some additional options to select columns based on a specific criteria include:</p>
<table>
<thead>
<tr>
<th>Function</th>
<th>Usage</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>ends_with()</code></td>
<td>Select columns that end with a character string</td>
</tr>
<tr>
<td><code>contains()</code></td>
<td>Select columns that contain a character string</td>
</tr>
<tr>
<td><code>matches()</code></td>
<td>Select columns that match a regular expression</td>
</tr>
<tr>
<td><code>one_of()</code></td>
<td>Select column names that are from a group of names</td>
</tr>
</tbody>
</table>
<h2 id="selecting-rows-using-filter">Selecting Rows Using <code>filter()</code></h2>
<p>Filter the rows for mammals that sleep a total of more than 16 hours.</p>

In [ ]:
msleep %>% filter(sleep_total >= 16)

<p>Filter the rows for mammals that sleep a total of more than 16 hours <em>and</em> have a body weight of greater than 1 kilogram.</p>

In [ ]:
msleep %>% filter(sleep_total >= 16, bodywt >= 1)

<p>Filter the rows for mammals in the Perissodactyla and Primates taxonomic order</p>

In [ ]:
msleep %>% filter(order %in% c("Perissodactyla", "Primates"))

<p>You can use the boolean operators (e.g. &gt;, &lt;, &gt;=, &lt;=, !=, %in%) to create the logical tests.</p>
<h2 id="arrange-or-re-order-rows-using-arrange">Arrange Or Re-order Rows Using <code>arrange()</code></h2>
<p>To arrange (or re-order) rows by a particular column, such as the taxonomic order, list the name of the column you want to arrange the rows by:</p>

In [ ]:
msleep %>% arrange(order) %>% select(order, genus, name)

<p>Now we will select three columns from msleep, arrange the rows by the taxonomic order and then arrange the rows by sleep_total. Finally, show the final tibble:</p>

In [ ]:
msleep %>%
    select(name, order, sleep_total) %>%
    arrange(order, sleep_total)

<p>Same as above, except here we filter the rows for mammals that sleep for 16 or more hours, instead of showing the whole tibble:</p>

In [ ]:
msleep %>%
    select(name, order, sleep_total) %>%
    arrange(order, sleep_total) %>%
    filter(sleep_total >= 16)

<p>Something slightly more complicated: same as above, except arrange the rows in the sleep_total column in a descending order. For this, use the function <code class="language-plaintext highlighter-rouge">desc()</code></p>

In [ ]:
msleep %>%
    select(name, order, sleep_total) %>%
    arrange(order, desc(sleep_total)) %>%
    filter(sleep_total >= 16)

<h2 id="create-new-columns-using-mutate">Create New Columns Using <code>mutate()</code></h2>
<p>The <code>mutate()</code> function will add new columns to the tibble. Create a new column called rem_proportion, which is the ratio of rem sleep to total amount of sleep.</p>

In [ ]:
msleep %>%
  mutate(rem_proportion = sleep_rem / sleep_total) %>%
  select(starts_with("sl"), rem_proportion)

<p>You can many new columns using mutate (separated by commas). Here we add a second column called bodywt_grams which is the bodywt column in grams.</p>

In [ ]:
msleep %>%
    mutate(rem_proportion = sleep_rem / sleep_total,
           bodywt_grams = bodywt * 1000) %>%
    select(sleep_total, sleep_rem, rem_proportion, bodywt, bodywt_grams)

<h2 id="create-summaries-of-the-tibble-using-summarise">Create summaries of the tibble using <code>summarise()</code></h2>
<p>The <code>summarise()</code> function will create summary statistics for a given column in the tibble such as finding the mean. For example, to compute the average number of hours of sleep, apply the <code>mean()</code> function to the column sleep_total and call the summary value avg_sleep.</p>

In [ ]:
msleep %>%
    summarise(avg_sleep = mean(sleep_total))

<p>There are many other summary statistics you could consider such <code>sd()</code>, <code>min()</code>, <code>max()</code>, <code>median()</code>, <code>sum()</code>, <code>n()</code> (returns the length of vector), <code>first()</code> (returns first value in vector), <code>last()</code> (returns last value in vector) and <code>n_distinct()</code> (number of distinct values in vector).</p>

In [ ]:
msleep %>%
    summarise(avg_sleep = mean(sleep_total),
              min_sleep = min(sleep_total),
              max_sleep = max(sleep_total),
              total = n())

<h2 id="group-operations-using-group_by">Group operations using <code>group_by()</code></h2>
<p>The <code>group_by()</code> verb is an important function in dplyr. As we mentioned before it‚Äôs related to concept of ‚Äúsplit-apply-combine‚Äù. We literally want to split the tibble by some variable (e.g. taxonomic order), apply a function to the individual tibbles and then combine the output.</p>
<p>Let‚Äôs do that: split the msleep tibble by the taxonomic order, then ask for the same summary statistics as above. We expect a set of summary statistics for each taxonomic order.</p>

In [ ]:
msleep %>%
    group_by(order) %>%
    summarise(avg_sleep = mean(sleep_total),
              min_sleep = min(sleep_total),
              max_sleep = max(sleep_total),
              total = n())

<h2 id="ggplot2">ggplot2</h2>
<p>Most people want to slice and dice their data before plotting, so let‚Äôs demonstrate that quickly by plotting our last dataset</p>

In [ ]:
msleep %>%
    group_by(order) %>%
    summarise(avg_sleep = mean(sleep_total),
              min_sleep = min(sleep_total),
              max_sleep = max(sleep_total),
              total = n()) %>%
    ggplot() + geom_point(aes(x=min_sleep, y=max_sleep, colour=order))

<p>Notice how we can just keep piping our data together, this makes it incredibly easier to experiment and play around with our data and test out what filtering or summarisation we want and how that will plot in the end. If we wanted, or if the data processing is an especially computationally expensive step, we could save it to an intermediate variable before playing around with plotting options, but in the case of this small dataset that‚Äôs probably not necessary.</p>

# Key Points

- Dplyr and tidyverse make it a lot easier to process data
- The functions for selecting data are a lot easier to understand than R's built in alternatives.

# Congratulations on successfully completing this tutorial!

Please [fill out the feedback on the GTN website](https://training.galaxyproject.org/training-material/topics/data-science/tutorials/r-dplyr/tutorial.html#feedback) and check there for further resources!